.mainBox{
    padding: 12px;
    background-color: #161C2A;
    border-radius: 8px;
}
.pool{
    width: 100%;

}
.mainBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 8px;
    
}
.pool h6{
    margin-top: 0;
}
.buySell{
    width: 100%;
  
}

@media screen and (min-width: 768px){
    .mainBox{
       flex-direction: row;
        gap: 24px;
        
    }
    .buySell{
        max-width: 538px;
    }
    .pool{
        order: -1;
        width: 100%;
    }
}