.form{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF1A;
    border-radius: 8px;
 
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 98px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputLabel{
color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    
}
.mainInput{
color: white;
background: linear-gradient(0deg, #161C2A, #161C2A),
linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
border: 1px solid #FFFFFF1A;
border-radius: 8px;
padding: 12px 8px;
}
.mainInput:hover,.mainInput:focus{
    border-color: #7A56F8;
}
.mainInput::placeholder{

font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.mainInput:focus-visible{
 
    outline: none;
}
.formBtn{
    background-color: #7A56F8;
    border-radius: 8px;
    outline: none;
    border: none;
color: white;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.04em;
text-align: left;
padding: 12px 16px;
display: flex;
gap: 16px;
align-items: center;
}
.formBtn:hover,.formBtn:focus{
    border: 1px solid white;
}