
body{
   
   height: 100%;
   

    font-family:"IBM Plex Mono",
 

    
}
.bg{
    background-image: url(./assets/bgEffect2.png),url(./assets/bgmob2.png);
    background-repeat: no-repeat;
z-index: -100;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 721px;
}
@media screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px),
screen and (min-device-pixel-ratio: 2) and (max-width: 768px){
    .bg{
    background-image: url(./assets/bgSecondmob2x2.png),url(./assets/bgmainmob2x2.png);  
    }
    }

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

