
body{
   
   height: 100%;
   

    font-family:"IBM Plex Mono",
    

    
}
#root{
    background: linear-gradient(to left,#24243c, #182035);
    z-index: -11111;
}
.bgEff{
  

    z-index: -1000;
    position: absolute;
height: 100%;
left: 0;
    background-position: top;
top: 723px;
    width: 100%;
 
    height: calc(100% - 720px);
}
.bg{
    background-image: url(./assets/bgeffect1x.png),url(./assets/bgfullmob1x.png);
    background-repeat: no-repeat;

    position: absolute;

    background-position: top;

    width: 100%;
    height: auto;
    height:100%;
}
/* @media screen and (min-resolution: 192dpi) , screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .bg{
    background-image: url(./assets/bgfulltab1x.png); 
    }
    } */

    .container{
        position: relative;
        z-index: 100000;
        padding-left: 16px;
        padding-right: 16px;
    }


@media screen  and (min-width: 888px){

    .container{
        max-width: 950px;
        margin: 0 auto;
    }
}

@media screen  and (min-width: 1235px){

    .container{
        max-width: 1235px;
        margin: 0 auto;
    }

}

    @media screen and (min-width: 420px){
        .bg{
            background-image: url(./assets/bgeffect1x.png), url(./assets/bgfulltab1x.png); 
            background-position: left top,right top 3px;
        }
        #root{
            background: linear-gradient(to left,#20202b, #0F1627);
        }
        .bgEff{
            top: 723px;
            background: linear-gradient(to left,#20202b, #0F1627);}
    }
    @media screen and (min-width: 1020px){
        .bg{
            background-image: url(./assets/bgeffect1x.png),url(./assets/bgfulldesk1x.png); 
            background-position: right top,right top;
        }

        #root{
            background: linear-gradient(to left,#1c2233, #131328);
        }
        .bgEff{
            top: 720px;
            
        }
    
    }
    @media screen and (min-width: 1440px){
        .bg{
            background-size: cover;
            background-image: url(./assets/bgeffect1x.png), url(./assets/bgfulldesk1x.png); 
 max-height: 721px;

        }
    }

